.video{
    display: flex;
    flex-direction: column;
    gap: 2px;

}
.caixa-user{
   display: flex;
   flex-direction: row;
   gap: 10px;
   margin-top: 3px; 
}

.logo{
    height: 40px; ;
    width: auto;
    border-radius: 50px;
}

.titulo-video{
    font-size: 25px;
    font-weight: 400;
    margin: 2px;
}
.descricao-user{
    display: flex;
    flex-direction: column;
    min-width: 100px;
    p{
        margin: 0 !important;
    }
}

.titulo{
   font-size: 15px;
   font-weight: 100;
   margin: 2px; 
}

.descricao{
   font-size: 10px;
   font-weight: 80;
   margin: 2px; 
}

.img-video{
   border-radius: 10px;
}

.botao-inscr{
    background-color: palevioletred;
}

.grid{
    padding-left: 70px;
    padding-right: 70px;
}

body{
    padding-bottom: 50px;
    background-color: var(--surface-variant) !important;
}
